In [8]:
#Упражнение 1

import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print (ser1)
print (ser2)
print (ser3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

In [9]:
#Упражнение 2

import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [10]:
## Упражнение 3

import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [11]:
#Упражнение 4

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'latin_letters'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: latin_letters, dtype: object

In [12]:
#Упражнение 5

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [15]:
#Упражнение 6

import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1,ser2))
ser_i = pd.Series(np.intersect1d(ser1,ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [17]:
# Упражнение 7

state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0,25,50,75,100])

array([ 0.98459801,  6.95232363, 10.76256172, 13.38866299, 18.54466894])

In [18]:
#Упражнение 8

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    7
h    6
f    6
b    5
g    3
a    2
d    1
Name: count, dtype: int64

In [19]:
# Упражнение 9

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Топ 2:", ser.value_counts())

ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

Топ 2: 2    4
3    3
4    3
1    2
Name: count, dtype: int64

C:\Users\dimba\AppData\Local\Temp\ipykernel_16264\1441557203.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Прочее'

In [23]:
# Упражнение 10

ser = pd.Series(np.random.random(20))

print(ser.head())

pd.qcut(ser, q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1],
        labels=['1','2','3','4','5','6','7','8','9','10']).head()

0    0.662641
1    0.363938
2    0.101004
3    0.627896
4    0.851637
dtype: float64

0     8
1     6
2     3
3     7
4    10
dtype: category
Categories (10, object): ['1' < '2' < '3' < '4' ... '7' < '8' < '9' < '10']

In [25]:
#Упражнение 11

ser = pd.Series(np.random.randint(1,10,35))

df = pd.DataFrame(ser.values.reshape(7,5))

print (df)

   0  1  2  3  4
0  4  8  9  4  6
1  3  2  5  9  5
2  4  2  8  9  1
3  5  9  4  6  9
4  5  6  3  1  7
5  8  8  2  4  9
6  9  9  9  5  4

In [28]:
#Упражнение 12

ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
np.argwhere(ser % 3 == 0)

0    5
1    5
2    5
3    6
4    4
5    9
6    4
dtype: int32

array([[3],
       [5]], dtype=int64)

In [27]:
#Упражнение 13

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [2]:
#Упражнение 14

import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Объединение по вертикали (по столбцам)
df_vertical = pd.concat([ser1, ser2], axis=1)

# Объединение по горизонтали (по строкам)
df_horizontal = pd.concat([ser1, ser2], axis=0, ignore_index=True)

# Вывод результатов
print("Объединение по вертикали:")
print(df_vertical)

print("\nОбъединение по горизонтали:")
print(df_horizontal)

Объединение по вертикали:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Объединение по горизонтали:
0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

In [31]:
#Упражнение 15

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [33]:
#Упражнение 16

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.3918918854734393

In [34]:
#Упражнение 17

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [3]:
#Упражнение 18

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Подсчитать число символов в каждом слове
character_counts = ser.str.len()

# Вывод результата
print(character_counts)

0    3
1    2
2    4
3    4
dtype: int64

In [5]:
#Упражнение 18

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Подсчитать число символов в каждом слове
character_counts = ser.str.len()

# Вывод результата
print(character_counts)

0    3
1    2
2    4
3    4
dtype: int64

In [6]:
#Упражнение 19

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])


diff = ser.diff()
# Вычисление разности разностей
diff_diff = ser.diff().diff()

# Вывод результата
print(diff)
print(diff_diff)

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [8]:
#Упражнение 20

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Преобразование каждого элемента в datetime64
converted_dates = ser.apply(lambda x: pd.to_datetime(x, errors='coerce'))

# Вывод результата
print(converted_dates)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [9]:
#Упражнение 21 

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Преобразование каждого элемента в формат datetime64
dates = ser.apply(lambda x: pd.to_datetime(x, errors='coerce'))

# Извлечение необходимых компонентов
day_of_month = dates.dt.day
week_number = dates.dt.isocalendar().week
day_num_of_year = dates.dt.dayofyear
day_of_week = dates.dt.strftime('%A')

# Вывод результата
print("Date:", day_of_month.tolist())
print("Week number:", week_number.tolist())
print("Day num of year:", day_num_of_year.tolist())
print("Day of week:", day_of_week.tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [10]:
#Упражнение 22

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# Замена элементов на даты, начинающиеся с 4-го числа месяца
result = pd.to_datetime(ser, format='%b %Y') + pd.to_timedelta('3D')

# Вывод результата
print(result)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [11]:
#Упражнение 23

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Определение функции для проверки количества гласных в слове
def count_vowels(word):
    return sum(1 for letter in word if letter.lower() in 'aeiouy')

# Извлечение слов с не менее чем 2 гласными буквами
result = ser[ser.apply(count_vowels) >= 2]

# Вывод результата
print(result)

0     Apple
1    Orange
3    Python
4     Money
dtype: object

In [14]:
#Task 24

emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# Извлечение корректных адресов электронной почты
result = emails[emails.str.contains(pattern)]

# Вывод результата
print(result)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [17]:
# Task 25

import numpy as np

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Создание датафрейма из двух рядов
df = pd.DataFrame({'fruit': fruit, 'weight': weights})

# Вычисление среднего значения веса для каждого фрукта
average_weights = df.groupby('fruit')['weight'].mean()

# Вывод результата
print(average_weights)

fruit
apple     4.600000
banana    4.500000
carrot    7.666667
Name: weight, dtype: float64

In [18]:
#Task 26

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Вычисление евклидова расстояния
euclidean_distance = ((p - q) ** 2).sum() ** 0.5

# Вывод результата
print(round(euclidean_distance, 3))

18.166

In [19]:
# Task 27

from scipy.signal import argrelextrema

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# Находим локальные минимумы и максимумы
local_maxima = argrelextrema(ser.values, np.greater)[0]

# Вывод результата
print(local_maxima)

[1 5 7]

In [20]:
#Task 28 

from collections import Counter

my_str = 'dbc deb abed gade'

# Находим наименее часто встречающийся символ
char_counts = Counter(my_str.replace(' ', ''))
least_frequent_char = min(char_counts, key=char_counts.get)

# Заменяем пробелы на наименее часто встречающийся символ
result_str = my_str.replace(' ', least_frequent_char)

# Вывод результата
print(result_str)

dbccdebcabedcgade

In [21]:
#Task 29

# Установка начальной даты
start_date = '2000-01-01'

# Создание временного ряда с 10 субботними днями и случайными значениями
date_rng = pd.date_range(start=start_date, periods=10, freq='W-SAT')
random_values = np.random.randint(1, 10, size=(10,))
time_series = pd.Series(random_values, index=date_rng)

# Вывод результата
print(time_series)

2000-01-01    5
2000-01-08    5
2000-01-15    1
2000-01-22    7
2000-01-29    7
2000-02-05    3
2000-02-12    5
2000-02-19    5
2000-02-26    2
2000-03-04    8
Freq: W-SAT, dtype: int32

In [22]:
# Task 30

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

# Использование resample для заполнения отсутствующих дат
ser_filled = ser.resample('D').ffill()

# Вывод результата
print(ser_filled)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [23]:
#Task 31

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Вычисление автокорреляций для первых 10 лагов
autocorrelations = [ser.autocorr(lag=i) for i in range(1, 11)]

# Определение лага с наибольшей корреляцией
max_correlation_lag = np.argmax(np.abs(autocorrelations)) + 1

# Вывод результатов
print(autocorrelations)
print("Lag having highest correlation:", max_correlation_lag)

[0.18542781613127166, 0.47934056984317863, 0.23225805196729382, 0.2997266238173245, 0.23513630599171964, 0.13151521704922534, -0.002382351395914625, 0.6269004750568146, -0.2617445270870279, 0.5234503013375674]
Lag having highest correlation: 8

In [24]:
#Task 32

# URL набора данных
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

# Импорт каждой 50-й строки в виде датафрейма
df = pd.read_csv(url, skiprows=lambda x: x % 50 != 0)

# Вывод результата
print(df)

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

In [25]:
# Task 33

# URL набора данных
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

# Импорт данных
df = pd.read_csv(url)

# Изменение столбца 'medv'
df['medv'] = pd.cut(df['medv'], bins=[-float('inf'), 25, float('inf')], labels=['Low', 'High'])

# Вывод результата
print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

In [26]:
# Task 34

# Заданный ряд
L = pd.Series(range(15))

# Создание датафрейма со строками в виде шагов
df = pd.DataFrame([L[i:i+4].values for i in range(0, len(L)-3, 2)])

# Вывод результата
print(df)

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

In [27]:
#Task 35

# URL набора данных
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

# Импорт только столбцов 'crim' и 'medv'
df = pd.read_csv(url, usecols=['crim', 'medv'])

# Вывод результата
print(df)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

In [28]:
#Task 36 

# URL набора данных
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

# Импорт данных
df = pd.read_csv(url)

# Информация о датафрейме
info = df.info()

# Эквивалент в виде numpy-массива
numpy_array = df.to_numpy()

# Эквивалент в виде списка
list_data = df.values.tolist()

# Вывод результатов
print("Информация о датафрейме:")
print(info)
print("\nЭквивалент в виде numpy-массива:")
print(numpy_array)
print("\nЭквивалент в виде списка:")
print(list_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             55 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
Информация о датафрейме:
None

Эквивалент в виде numpy-массива:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

Эквивалент в виде списка:

In [29]:
#Task 37

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Находим номер строки и столбца ячейки с наибольшим значением в 'Price'
max_price_index = df['Price'].idxmax()
max_price_row, max_price_col = df.index.get_loc(max_price_index), df.columns.get_loc('Price')

# Извлекаем производителя, модель и тип с наибольшей ценой
max_price_info = df.loc[max_price_index, ['Manufacturer', 'Model', 'Type']]

# Вывод результатов
print("Производитель, модель и тип с наибольшей ценой:")
print(max_price_info)
print("\nНомер строки и столбца ячейки с наибольшим значением в 'Price':")
print("Строка:", max_price_row, ", Столбец:", max_price_col)

Производитель, модель и тип с наибольшей ценой:
Manufacturer    Mercedes-Benz
Model                    300E
Type                  Midsize
Name: 58, dtype: object

Номер строки и столбца ячейки с наибольшим значением в 'Price':
Строка: 58 , Столбец: 4

In [30]:
# Task 38 

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Переименование столбца 'Type' в 'CarType'
df = df.rename(columns={'Type': 'CarType'})

# Замена '.' в именах столбцов на '_'
df.columns = df.columns.str.replace('.', '_')

# Вывод результата
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [31]:
# Task 39

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Проверка наличия отсутствующих значений
missing_values = df.isna().any().any()

# Вывод результата
print("Наличие отсутствующих значений в датафрейме:", missing_values)

Наличие отсутствующих значений в датафрейме: True

In [32]:
# Task 40 

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Подсчет количества пропущенных значений в каждом столбце
missing_values_per_column = df.isna().sum()

# Нахождение столбца с наибольшим числом пропущенных значений
column_with_most_missing_values = missing_values_per_column.idxmax()

# Вывод результата
print("Количество пропущенных значений в каждом столбце:")
print(missing_values_per_column)
print("\nСтолбец с наибольшим числом пропущенных значений:", column_with_most_missing_values)

Количество пропущенных значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столбец с наибольшим числом пропущенных значений: AirBags

In [33]:
# Task 41

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Замена отсутствующих значений на средние значения в столбцах Min.Price и Max.Price
df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].mean())

# Вывод результата
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

In [34]:
# Task 42 

# Импорт данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Замена отсутствующих значений в Min.Price на среднее значение, в Max.Price на медиану
df['Min.Price'] = df['Min.Price'].apply(lambda x: x if pd.notnull(x) else df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].apply(lambda x: x if pd.notnull(x) else df['Max.Price'].median())

# Вывод результата
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000      18.80
1   29.200000      38.70
2   25.900000      32.30
3   17.118605      44.60
4   17.118605      19.15
..        ...        ...
88  16.600000      22.70
89  17.600000      22.40
90  22.900000      23.70
91  21.800000      23.50
92  24.800000      28.50

[93 rows x 2 columns]

In [35]:
#Task  43

# Пример входных данных
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Получение первого столбца 'a' в виде датафрейма
first_column_df = df[['a']]

# Вывод результата
print(first_column_df)

    a
0   0
1   5
2  10
3  15

In [36]:
#Task 44

# Пример входных данных
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(f'Начальный датафрейм:\n{df}')

# Меняем местами столбцы 'a' и 'c'
df[['a', 'c']] = df[['c', 'a']]

# Вывод результата
print(f'Датафрейм с измененными столбцами а и с:\n{df}')

# Пример входных данных
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Обобщенная функция для обмена данными между двумя столбцами
def swap_columns(df, col1, col2):
    df[[col1, col2]] = df[[col2, col1]]

# Используем обобщенную функцию для обмена данными между столбцами 'a' и 'c'
swap_columns(df, 'a', 'c')

# Вывод результата
print(f'Датафрейм с обобщенной функцией:\n{df}')

# Пример входных данных
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Сортируем столбцы в обратном алфавитном порядке
df = df[sorted(df.columns, reverse=True)]

# Вывод результата
print(f'Отсортированный датафрейм со столбцами в обратном порядке:\n{df}')

Начальный датафрейм:
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
Датафрейм с измененными столбцами а и с:
    a   b   c   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19
Датафрейм с обобщенной функцией:
    a   b   c   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19
Отсортированный датафрейм со столбцами в обратном порядке:
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [37]:
# Task 45

# Пример входных данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Устанавливаем максимальное количество строк и столбцов
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

# Вывод результата
print(df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

In [38]:
#Task 46

# Пример входных данных
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Исключаем вывод научной нотации и выводим до 4 чисел после запятой
pd.set_option('display.float_format', '{:.4f}'.format)

# Вывод результата
print(df)

   random
0  0.0000
1  0.0001
2  0.4352
3  0.0033

In [39]:
#Task 47

# Пример входных данных
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Форматируем значения в проценты
df['random'] = df['random'].apply(lambda x: '{:.2%}'.format(x))

# Вывод результата
print(df)

   random
0  13.23%
1  90.38%
2  77.36%
3   4.11%

In [40]:
#Task 48

# Пример входных данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Отфильтровать строки
result = df.loc[::20, ['Manufacturer', 'Model', 'Type']]

# Вывести результат
print(result)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [41]:
#Task 49

# Пример входных данных
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

# Заменить NaN на 'missing' в указанных столбцах
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')

# Создать индекс как комбинацию столбцов 'Manufacturer', 'Model', 'Type'
df.set_index(['Manufacturer', 'Model', 'Type'], inplace=True)

# Проверить, является ли индекс первичным ключом
is_primary_key = df.index.is_unique

# Вывести результат
print(df)
print("\nIs the index a primary key?", is_primary_key)

                              Min.Price  Max.Price
Manufacturer Model   Type
Acura        Integra Small      12.9000    18.8000
missing      Legend  Midsize    29.2000    38.7000
Audi         90      Compact    25.9000    32.3000
             100     Midsize        NaN    44.6000
BMW          535i    Midsize        NaN        NaN
...                                 ...        ...
Volkswagen   Eurovan Van        16.6000    22.7000
             Passat  Compact    17.6000    22.4000
             Corrado Sporty     22.9000    23.7000
Volvo        240     Compact    21.8000    23.5000
missing      850     Midsize    24.8000    28.5000

[93 rows x 2 columns]

Is the index a primary key? True

In [42]:
#Task 50

# Пример входных данных
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))

print(df)
# Найти положение строки с 5-м наибольшим значением в столбце 'a'
row_index = df['a'].nlargest(5).index[-1]

# Вывести результат
print("Индекс строки с 5-м наибольшим значением в столбце 'a':", row_index)

    a   b   c
0  28  24  13
1   2   3  20
2   2   9  21
3  22  10   4
4  27   7  13
5  18   9  19
6  11  26  21
7  25   8  29
8  10  27   3
9  12  23  28
Индекс строки с 5-м наибольшим значением в столбце 'a': 5

In [43]:
#Task 51

# Пример входных данных
ser = pd.Series(np.random.randint(1, 100, 10))

print(ser)
# Найти положение второго наибольшего значения, превышающего среднее
mean_value = ser.mean()
print(f'Среднее значение = {mean_value}')
sorted_values = ser[ser > mean_value].sort_values(ascending=False)
second_largest_above_mean = sorted_values.iloc[1]
position_second_largest_above_mean = ser[ser == second_largest_above_mean].index[0]

# Вывести результат
print("Положение 2-го наибольшего значения, превышающего среднее:", position_second_largest_above_mean)

0    22
1    23
2    93
3    88
4    63
5     8
6    14
7    10
8    83
9    99
dtype: int32
Среднее значение = 50.3
Положение 2-го наибольшего значения, превышающего среднее: 2

In [44]:
#Task 52

# Пример входных данных
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

print(df)

# Получить две последние строки сумма которых больше 100
result_df = df[df.sum(axis=1) > 100].tail(2)

# Вывести результат
print(result_df)

     0   1   2   3
0   37  36  15  34
1   17  14  28  26
2   20  38  10  20
3   39  28  24  10
4   33  38  31  12
..  ..  ..  ..  ..
10  16  10  21  13
11  15  21  11  23
12  26  10  26  24
13  20  13  31  31
14  19  21  24  37

[15 rows x 4 columns]
     0   1   2   3
8   26  35  37  36
14  19  21  24  37

In [45]:
#Task 53

# Пример входных данных
ser = pd.Series(np.logspace(-2, 2, 30))


print(ser)
# Находим 5%-ный и 95%-ный перцентили
percentile_5 = ser.quantile(0.05)
percentile_95 = ser.quantile(0.95)

# Заменяем значения вне диапазона на соответствующие значения перцентилей
ser = ser.clip(lower=percentile_5, upper=percentile_95)

# Выводим результат
print(ser)

0      0.0100
1      0.0137
2      0.0189
3      0.0259
4      0.0356
       ...
25    28.0722
26    38.5662
27    52.9832
28    72.7895
29   100.0000
Length: 30, dtype: float64
0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
       ...
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
Length: 30, dtype: float64

In [46]:
#Task 54

# Пример входных данных
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

print(df)

# Функция для перестройки DataFrame
def reshape_to_square(df):
    # Создаем копию DataFrame
    new_df = df.copy()

    # Создаем DataFrame с NaN вместо отрицательных значений
    new_df[new_df < 0] = np.nan

    # Заполняем NaN значениями предыдущих положительных элементов в каждой строке
    for i in range(new_df.shape[0]):
        row = new_df.iloc[i]
        pos_values = row[row >= 0]
        new_df.iloc[i, :len(pos_values)] = pos_values

    return new_df

# Перестройка DataFrame
result_df = reshape_to_square(df)

# Вывод результата
print(result_df)

    0   1   2   3   4   5   6   7   8   9
0  -8  41  30  -7  30  45 -10  11  34   7
1  27  17   1  -9   2  20  26   5  20  20
2 -18 -16 -13 -19   5 -18  44 -13  46  38
3  39  -5  42  27  21  12  36  16 -16  28
4  46  -7  40   8  -7  -1  13  27  46  -2
5  27  18  13   0  -7  47  -8   0  41  36
6  10  37  25  -7  33 -17   9  25  25  31
7 -13   2  38  42  32 -13  17  19  25   9
8  45 -15  38   2  40 -16  16   6   9 -14
9  21   6   9  23   1   0  14  43   6  13
        0       1       2       3       4       5       6       7       8  \
0 41.0000 30.0000 30.0000 45.0000 11.0000 34.0000  7.0000 11.0000 34.0000
1 27.0000 17.0000  1.0000  2.0000 20.0000 26.0000  5.0000 20.0000 20.0000
2  5.0000 44.0000 46.0000 38.0000  5.0000     NaN 44.0000     NaN 46.0000
3 39.0000 42.0000 27.0000 21.0000 12.0000 36.0000 16.0000 28.0000     NaN
4 46.0000 40.0000  8.0000 13.0000 27.0000 46.0000 13.0000 27.0000 46.0000
5 27.0000 18.0000 13.0000  0.0000 47.0000  0.0000 41.0000 36.0000 41.0000
6 10.0000 37.0000 25.0000 33.0000  9.0000 25.0000 25.0000 31.0000 25.0000
7  2.0000 38.0000 42.0000 32.0000 17.0000 19.0000 25.0000  9.0000 25.0000
8 45.0000 38.0000  2.0000 40.0000 16.0000  6.0000  9.0000  6.0000  9.0000
9 21.0000  6.0000  9.0000 23.0000  1.0000  0.0000 14.0000 43.0000  6.0000

        9
0  7.0000
1 20.0000
2 38.0000
3 28.0000
4     NaN
5 36.0000
6 31.0000
7  9.0000
8     NaN
9 13.0000

In [47]:
#Task 55

# Пример входных данных
df = pd.DataFrame(np.arange(25).reshape(5, -1))

print(df)

# Поменять местами строки 1 и 2
df.iloc[0], df.iloc[1] = df.iloc[1].copy(), df.iloc[0].copy()

# Вывод результата
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
    0   1   2   3   4
0   5   6   7   8   9
1   0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [48]:
#Task 56

# Пример входных данных
df = pd.DataFrame(np.arange(25).reshape(5, -1))

print(df)
print('\n\n')
# Перевернуть строки
df = df[::-1]

# Вывод результата
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24



    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [49]:
#Task 57

# Пример входных данных
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

print(df)

# Получить бинарный код для столбца 'a'
binary_code = pd.get_dummies(df['a'], prefix='a').astype(int)

# Добавить бинарный код в виде столбцов
df = pd.concat([binary_code, df], axis=1)

# Вывод результата
print(df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
   a_0  a_5  a_10  a_15  a_20   a   b   c   d   e
0    1    0     0     0     0   0   1   2   3   4
1    0    1     0     0     0   5   6   7   8   9
2    0    0     1     0     0  10  11  12  13  14
3    0    0     0     1     0  15  16  17  18  19
4    0    0     0     0     1  20  21  22  23  24

In [50]:
#Task 58

# Пример входных данных
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=['A', 'B', 'C', 'D'])

# Найти максимальное значение в каждой строке
max_per_row = df.max(axis=1)

# Найти столбец с максимальным значением в каждой строке
column_of_max_per_row = df.idxmax(axis=1)





# Вывести результат
result_df = pd.DataFrame({'Максимальное значение': max_per_row, 'Столбец': column_of_max_per_row})
print(result_df)

# Найти столбец, в котором было наибольшее количество максимумов
most_frequent_column = column_of_max_per_row.value_counts().idxmax()


# Вывести имя столбца с наибольшим количеством максимумов
print(f'Столбец с наибольшим количеством максимумов: {most_frequent_column}')

   Максимальное значение Столбец
0                     95       B
1                     95       C
2                     65       B
3                     96       B
4                     87       A
5                     41       C
6                     56       A
7                     97       B
8                     99       D
9                     36       A
Столбец с наибольшим количеством максимумов: B

In [51]:
#Task 59 

# Ваши входные данные
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

# Функция для вычисления евклидова расстояния векторно
def closest_row(row, df):
    diffs = df.values - row.values.reshape(1, -1)  # Разности значений
    dists = np.sqrt(np.sum(diffs**2, axis=1))  # Евклидовы расстояния
    nearest_index = dists.argsort()[1]  # Индекс второго по минимуму элемента, то есть первого, не считая текущего
    return (df.index[nearest_index], dists[nearest_index])

# Применяем функцию к каждой строке и распаковываем результаты в новые столбцы
df['nearest_row'], df['dist'] = zip(*df.apply(lambda row: closest_row(row, df), axis=1))

print(df)

    p   q   r   s nearest_row    dist
a  66  79  16  39           e 28.6705
b  65  48   5  51           a 35.0286
c  41  31  54  48           g 55.4346
d   3  93   6  22           h 27.0370
e  87  90  14  23           a 28.6705
f  95  66  46  42           i 38.3145
g  79  20  92  40           c 55.4346
h   2  74  18  37           d 27.0370
i  98  69  55   5           f 38.3145
j  49  29  93  91           c 58.6345

In [52]:
#Task 60

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

# Вычисление корреляций между столбцами и выбор максимального значения
max_corr = df.corr().abs().max().max()

print(f"Максимальное абсолютное значение корреляции: {max_corr}")

Максимальное абсолютное значение корреляции: 1.0

In [53]:
#Task 61

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print(df)
# Вычисление минимума и максимума для каждой строки
min_values = df.min(axis=1)
max_values = df.max(axis=1)

# Вывод результатов
result_df = pd.DataFrame({'Минимум': min_values, 'Максимум': max_values})
print(result_df)

    0   1   2   3   4   5   6   7   8   9
0   4  45  54   5  32  24  21   7  12  86
1  81  67  56   4  52  83   3  98  48  17
2  85  88  60  45  98   5  69   6  42  15
3  17  66  39  82  83  38  89  84   1  40
4  37   3  73  16  75  23   8  36  74  79
5  71  70  76   4  23  26  54  20  62  87
6  76  31  61   7   9  21  99   7  49  15
7  56  49  83  83  26  67  63  16  44  88
   Минимум  Максимум
0        4        86
1        3        98
2        5        98
3        1        89
4        3        79
5        4        87
6        7        99
7       16        88

In [54]:
#Task 62

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

# Функция для извлечения второго по величине значения
def second_largest(row):
    sorted_row = sorted(row, reverse=True)
    return sorted_row[1]

# Создание нового столбца 'penultimate'
df['penultimate'] = df.apply(second_largest, axis=1)

# Вывод DataFrame с новым столбцом
print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  65   6  34  45  14  ...  14  96  63  72           72
1  43  32  75  61  91  ...  41  76   5  69           76
2  99  31  18  54  12  ...  19  81  79  78           81
3  38  59   8  83  82  ...  77  89  63  70           83
4  72  42  24  71  48  ...  50  60   6  12           71
5  91  65  97  12  17  ...  26  46  93  31           93
6  20  89  47  51  96  ...  61  74  45   4           89
7  52  67  71  67  58  ...  49  62  24  30           67

[8 rows x 11 columns]

In [55]:
#Task 63

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

# 1. Нормализация
normalized_df = (df - df.mean()) / df.std()

# 2. Ранжирование
ranked_df = (df - df.min()) / (df.max() - df.min())

# Вывод результатов
print("Нормализованный DataFrame:")
print(normalized_df)

print("\nРанжированный DataFrame:")
print(ranked_df)

Нормализованный DataFrame:
        0       1       2       3       4       5       6       7       8  \
0 -0.5280  0.0477 -0.5575  0.2514 -0.8062  0.0939  1.0551  1.3062  1.1770
1  0.8670  0.1519  1.0930 -1.2399 -0.6896  1.6676  1.1047  1.5917 -0.6931
2 -0.0630  0.6380  0.4609 -1.7601  1.1364 -0.3711 -1.2785 -0.0071  0.5865
3 -0.1405 -1.6537 -0.7330  0.9451 -1.3501 -0.5499 -0.5337 -1.3776 -1.0212
4  0.9833  0.8464  1.6197  0.7023 -0.4954 -0.5499  0.7075 -0.3497 -0.8243
5 -1.2255  0.9853  0.0395  0.4249 -0.0291  1.4173 -1.0303 -0.6353 -0.5290
6  1.3708 -1.4106 -1.3300  0.8410  1.2141 -0.8361 -0.7820 -0.5782 -0.3322
7 -1.2642  0.3950 -0.5926 -0.1647  1.0199 -0.8718  0.7572  0.0500  1.6364

        9
0  0.3577
1  0.4769
2 -0.1192
3  0.0795
4  1.9076
5 -0.4372
6 -0.7948
7 -1.4705

Ранжированный DataFrame:
       0      1      2      3      4      5      6      7      8      9
0 0.2794 0.6447 0.2619 0.7436 0.2121 0.3803 0.9792 0.9038 0.8272 0.5412
1 0.8088 0.6842 0.8214 0.1923 0.2576 1.0000 1.0000 1.0000 0.1235 0.5765
2 0.4559 0.8684 0.6071 0.0000 0.9697 0.1972 0.0000 0.4615 0.6049 0.4000
3 0.4265 0.0000 0.2024 1.0000 0.0000 0.1268 0.3125 0.0000 0.0000 0.4588
4 0.8529 0.9474 1.0000 0.9103 0.3333 0.1268 0.8333 0.3462 0.0741 1.0000
5 0.0147 1.0000 0.4643 0.8077 0.5152 0.9014 0.1042 0.2500 0.1852 0.3059
6 1.0000 0.0921 0.0000 0.9615 1.0000 0.0141 0.2083 0.2692 0.2593 0.2000
7 0.0000 0.7763 0.2500 0.5897 0.9242 0.0000 0.8542 0.4808 1.0000 0.0000

In [56]:
#Task 64

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print(df)
# Вычисление корреляции каждой строки с последующей строкой
correlation_with_next_row = df.corrwith(df.shift(-1))

# Вывод результатов
print("Корреляция с последующей строкой:")
print(correlation_with_next_row)

    0   1   2   3   4   5   6   7   8   9
0  90  89  43  38  35  24  64  19  77  88
1  87  32  52  35  92  13   4  27  18  58
2  73  77  60  38  79  72  70  18  39  49
3  77  89  14   1  59  55   5  60  76  38
4  82  50  99  13  69  45  62  31  12  72
5  77  41  79  49  96  13  81  82  32   5
6  10  38  64  84  88   9  34  57  31  25
7  51  38  13  29  24  55  68  33  74  94
Корреляция с последующей строкой:
0    0.2992
1   -0.0074
2   -0.2099
3    0.1698
4   -0.3433
5    0.0626
6   -0.5832
7    0.0298
8   -0.4655
9   -0.1879
dtype: float64

In [57]:
#Task 65

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))
print(df)
# Замена значений в обеих диагоналях на 0
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[i, df.shape[1] - i - 1] = 0

# Вывод DataFrame после замены
print(df)

    0   1   2   3   4   5   6   7   8   9
0  61  76  30  39  36  84  53  30   4  39
1   1  39  15  19  74  17  26  12  96  63
2  14  82   6  67  67  61  37  72  50  87
3  76  73  98  56   9  11  43   9  10  64
4  33  32  14   9  40  45  27  49  38  32
5  40  33   4  47  36  17  45  43  68  75
6  94  26  56  67  84  85  71  50  52  30
7  82  64   9  36  27  71  85  66  74  24
8   9  97  26  46  58  90  32  57  78  82
9   2  87  81  36  56  18  48  94  90  96
    0   1   2   3   4   5   6   7   8   9
0   0  76  30  39  36  84  53  30   4   0
1   1   0  15  19  74  17  26  12   0  63
2  14  82   0  67  67  61  37   0  50  87
3  76  73  98   0   9  11   0   9  10  64
4  33  32  14   9   0   0  27  49  38  32
5  40  33   4  47   0   0  45  43  68  75
6  94  26  56   0  84  85   0  50  52  30
7  82  64   0  36  27  71  85   0  74  24
8   9   0  26  46  58  90  32  57   0  82
9   0  87  81  36  56  18  48  94  90   0

In [58]:
#Task 66

# Создание DataFrame
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

print(df)
# Группировка DataFrame по 'col1'
df_grouped = df.groupby(['col1'])

# Получение группы, относящейся к 'apple'
apple_group = df_grouped.get_group('apple')

# Вывод результата
print(apple_group)

     col1   col2  col3
0   apple 0.9591     6
1  banana 0.1853    10
2  orange 0.1010    10
3   apple 0.4647     6
4  banana 0.0043    14
5  orange 0.1126     3
6   apple 0.9877     8
7  banana 0.8922    11
8  orange 0.9622    13
    col1   col2  col3
0  apple 0.9591     6
3  apple 0.4647     6
6  apple 0.9877     8

In [59]:
#Task 67

# Создание DataFrame
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)

# Выбор только строк, относящихся к 'banana'
banana_rows = df[df['fruit'] == 'banana']

# Нахождение второго по величине значения 'rating' для 'banana'
second_highest_rating = banana_rows['rating'].sort_values(ascending=False).unique()[1]

# Вывод результата
print("Второе по величине значение 'taste' для 'banana':", second_highest_rating)

    fruit  rating  price
0   apple  0.3498      6
1  banana  0.4617      4
2  orange  0.9079      5
3   apple  0.3794     13
4  banana  0.5757      6
5  orange  0.0966      5
6   apple  0.7108      9
7  banana  0.4728     14
8  orange  0.4786      2
Второе по величине значение 'taste' для 'banana': 0.4728257671265249

In [60]:
#Task 68 

# Создание DataFrame
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)

# Группировка по столбцу 'fruit' и вычисление средней цены
result_df = df.groupby('fruit').agg({'price': 'mean'}).reset_index()

# Вывод результата
print(result_df)

    fruit  rating  price
0   apple  0.7688      7
1  banana  0.3384      9
2  orange  0.9815      2
3   apple  0.1997      0
4  banana  0.2377      3
5  orange  0.2441      3
6   apple  0.4770      5
7  banana  0.0499     14
8  orange  0.0560      4
    fruit  price
0   apple 4.0000
1  banana 8.6667
2  orange 3.0000

In [61]:
#Task 69

# Создание DataFrame df1
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

print(df1)  

# Создание DataFrame df2
df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

print(df2)

# Объединение по признакам 'fruit-pazham' и 'weight-kilo'
merged_df = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], how='inner')

# Удаление лишних столбцов
merged_df = merged_df.drop(['pazham', 'kilo'], axis=1)

# Вывод результата
print(merged_df)

    fruit  weight  price
0   apple    high     12
1  banana  medium     12
2  orange     low     13
3   apple    high      1
4  banana  medium     10
5  orange     low     11
6   apple    high      5
7  banana  medium     14
8  orange     low     12
   pazham  kilo  price
0   apple  high     12
1  orange   low     10
2    pine  high      5
3   apple   low      5
4  orange  high      5
5    pine   low      7
    fruit weight  price_x  price_y
0   apple   high       12       12
1   apple   high        1       12
2   apple   high        5       12
3  orange    low       13       10
4  orange    low       11       10
5  orange    low       12       10

In [62]:
#Task 70

# Создание DataFrame
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))

print(df)
# Создание столбца 'a_lag1' (сдвиг столбца 'a' вниз на 1 строку)
df['a_lag1'] = df['a'].shift(1)

# Создание столбца 'b_lead1' (сдвиг столбца 'b' вверх на 1 строку)
df['b_lead1'] = df['b'].shift(-1)

# Вывод результата
print(df)

    a   b   c   d
0  73  62  19  99
1  94  27  10  21
2  16  29   9  41
3   4  87  17  76
4   9  91   7  35
    a   b   c   d  a_lag1  b_lead1
0  73  62  19  99     NaN  27.0000
1  94  27  10  21 73.0000  29.0000
2  16  29   9  41 94.0000  87.0000
3   4  87  17  76 16.0000  91.0000
4   9  91   7  35  4.0000      NaN